@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');


.btn-friendly-container{
    display: flex;
    justify-content: end;
}
.btn-friendly{
    padding: 12px 10px 12px 10px;
    cursor: pointer;
    border-radius: 14px;
    background-color: #2e69e9c5;
    border-color: white;
    font-size: 15px;
    color: white;
    border: 2px solid white;
    margin: 20px;
    margin-right: 25px;
    position: relative;
    font-family: 'Inter', sans-serif;
    transition: all .2s ease-in-out;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
} 

.btn-friendly:hover{
    transform: scale(1.1);
}

